/* common css */



/* 重置 */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  /*font-size: 100%;*/
  /*font: inherit;*/
  vertical-align: baseline;
}

/* 加载 Google 字体 */
@font-face {
  font-family: 'Philosopher';
  font-style: normal;
  font-weight: 400;
  src: local('Philosopher'), url(http://font.qiniudn.com/Philosopher.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(http://font.qiniudn.com/TitilliumWeb.woff) format('woff');
}
body {
  font-size: 12px;
  line-height: 1.5em;
  font-family: "Titillium Web", "Helvetica Neue", Helvetica, "Microsoft Yahei", Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Philosopher", "Helvetica Neue", Helvetica, "Microsoft Yahei", Arial, sans-serif;
}
input,
textarea,
select,
.btn {
  font-family: "Helvetica Neue", Helvetica, "Microsoft Yahei", Arial, sans-serif;
}
textarea {
  resize: none;
}
button {
  cursor: pointer;
}
:focus {
  outline: none;
}
ul,
ol {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
}

/* 浮动 */
.float-left,
.fl {
  float: left !important;
}
.float-right,
.fr {
  float: right !important;
}

/* 清除浮动 */
.clearfix,
.cf {
  *zoom: 1;
}
.clearfix:before,
.cf:before,
.clearfix:after,
.cf:after {
  display: table;
  content: " ";
  line-height: 0;
}
.clearfix:after,
.cf:after {
  clear: both;
}

/* 隐藏文字 */
.hidden-text,
.ht {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* 形状 */
.triangle {
  display: inline-block;
  width: 0;
  height: 0;
  *zoom: 1;
}
.circle {
  border-radius: 50%;
}

/* 圆角 */
.border-radius-2,
.br-2 {
  border-radius: 2px;
}
.border-radius-3,
.br-3 {
  border-radius: 3px;
}
.border-radius-4,
.br-4 {
  border-radius: 4px;
}
.border-radius-6,
.br-6 {
  border-radius: 6px;
}
.border-radius-8,
.br-8 {
  border-radius: 8px;
}

/* 上边距 */
.prepend-top,
.ppt {
  margin-top: 8px;
}
.prepend-top-12,
.ppt-12 {
  margin-top: 12px;
}
.prepend-top-24,
.ppt-24 {
  margin-top: 24px;
}
.prepend-top-36,
.ppt-36 {
  margin-top: 36px;
}
.prepend-top-48,
.ppt-48 {
  margin-top: 48px;
}
.prepend-top-60,
.ppt-60 {
  margin-top: 60px;
}

.hide {
  display: none;
}
img {
  width: 100%;
}
.blur {
  -webkit-filter: blur(18px);
  -moz-filter: blur(18px);
  -ms-filter: blur(18px);
  filter: blur(18px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=18, MakeShadow=false);
}
.intro p {
  line-height: 1.8em;
}

/* 布局 */
.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
}

/* 响应式布局 */
@media (min-width: 768px) {
  .container {
    width: 712px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 920px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1024px;
  }
}
@media (min-width: 1500px) {
  .container {
    width: 1420px;
  }
}

/* global header */
.global-header {
  position: relative;
  padding-top: 10px;
  height: 50px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,.04);
}
.header-logo {
  margin: 0 auto;
  width: 74px;
  height: 28px;
}
.header-nav {
  position: absolute;
  top: 14px;
  left: 60px;
}
.header-nav li {
  float: left;
  margin-right: 48px;
}
.header-nav li a {
  display: block;
  width: 60px;
  height: 24px;
  color: #9a9a9a;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}
.header-nav li.active a,
.header-nav li a:hover {
  color: #6ed56c;
}
.header-panel {
  position: absolute;
  top: 8px;
  right: 60px;
}
.header-panel-search {
  position: relative;
  margin-right: 28px;
}
.header-panel-search .field {
  padding: 0 5px 0 32px;
  width: 200px;
  height: 32px;
  color: #b7b7b7;
  font-size: 12px;
  line-height: 32px;
  background: #f7f7f7;
  border: 0;
  border-radius: 16px;
  box-shadow: inset 0 0 2px #d9d9d9;
}
.header-panel-search .field:focus {
  background: #fff;
  outline: none;
}
.header-panel-search .submit {
  display: block;
  position: absolute;
  top: 11px;
  left: 12px;
  width: 12px;
  height: 12px;
  border: none;
  background-position: 0 -300px;
}
.header-panel-nav {
  margin-top: 8px;
}
.header-panel-nav li {
  display: inline;
}
.header-panel-nav li.login:before {
  content: " / ";
  color: #6ebe2f;
  font-size: 14px;
  line-height: 1.5em;
}
.header-panel-nav a,
.header-panel-nav span {
  font-size: 14px;
  color: #6ebe2f;
}
@media (max-width: 900px) {
  .header-nav {
    left: 20px;
  }
  .header-panel {
    right: 20px;
  }
  .header-nav li {
    margin-right: 64px;
  }
  .header-nav li a,
  .header-nav .discover a {
    width: 32px;
  }
  .header-panel-search .field {
    width: 172px;
  }
}
@media (max-width: 1200px) {
  .header-nav {
    left: 40px;
  }
  .header-panel {
    right: 40px;
  }
}
/* header-logged */
.user-panel {
  position: relative;
  margin-top: -4px;
}
.user-panel .user-avatar {
  margin-right: 28px;
  width: 42px;
  height: 42px;
}
.user-panel .user-notice {
  display: block;
  position: absolute;
  left: 30px;
  bottom: 0;
  padding: 0 7px;
  height: 16px;
  color: #fff;
  line-height: 16px;
  font-style: normal;
  background: #f95d70;
  border-radius: 8px;
}
.user-panel .logout-btn {
  display: block;
  margin-top: 12px;
  width: 18px;
  height: 18px;
  background-position: -300px -300px;
}
.pagination {
    margin: 20px auto;
    text-align: center;
}

.pagination li {
    display: inline-block;
}

.pagination a {
    color: #969696;
    display: inline-block;
    font-size: 1.16em;
    margin-right: 5px;
    padding: 5px 8px;
}

.pagination .active a {
    background: none repeat scroll 0 0 #88de5a;
    color: #363636;
    padding: 5px 8px;
}

.pagination a:hover {
    background: none repeat scroll 0 0 #88de5a;
    color: #363636;
    padding: 5px 8px;
}

.pagination a.text {
    color: #999;
}

.pagination a.text:hover {
    color: #363636;
}

.pagination .pager {
    text-align: center;
}
