.danmaku {
  position: absolute;
  top:    0;
  right:  0;
  bottom: 55px;
  left:   0;
  display: block;
  overflow: hidden;
  margin: 0;
  border: 0;
  /*-webkit-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);*/
          /*transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);*/
        touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.danmaku .cmt {
  position: absolute;
  padding: 13px 0 5px 50px;
  margin: 0;
  line-height: 100%;
  letter-spacing: 0;
  word-break: keep-all;
  white-space: nowrap;
  -webkit-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

.danmaku .cmt-avatar {
  position: absolute;
  top:    8px;
  left:   0;
  width:  38px;
  height: 38px;
  border-radius: 50%;
}
.danmaku .cmt-content {
  position: relative;
  background:    #fff;
  color:         #666;
  font-size:     14px;
  border-radius: 32px;
  line-height:   28px;
  height:        28px;
  padding:     0 .5em;
}
.danmaku .cmt-nickname {
  color:   #7ed321;
  padding: 0 .25em;
}
.danmaku .cmt-avatar,
.danmaku .cmt-content {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

/* gradient */
.danmaku {
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  background:    -moz-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  background:     -ms-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  background:      -o-linear-gradient(top, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
  background:   linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}
.danmaku:empty {
  background: transparent;
}
