/* echo mobile css */

body {
	padding-top: 48px;
}
a {
	color: #7ade78;
}

/* sprites */
#global-header .brand-logo a,
.btn,
i.icon {
	display: inline-block;
	background-image: url(../images/echo_mobile_sprites@2x.png);
	background-repeat: no-repeat;
	background-size: 150px;
}

@media (-webkit-min-device-pixel-ratio:3) {
	#global-header .brand-logo a,
	.btn,
	i.icon {
		background-image: url(../images/echo_mobile_sprites@3x.png);
	}
}

/*
@media (max-device-height: 480px) {}
*/


/* global header */
#global-header {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 48px;
	background: #fff;
	box-shadow: 1px 1px 9px rgba(0,0,0,.1);
}
#global-header .brand-logo,
#global-header .download-app-btn {
	position: absolute;
}
#global-header .brand-logo {
	top: 8px;
	left: 20px;
	width: 90px;
	height: 33px;
}
#global-header .brand-logo a {
	display: block;
	height: 33px;
}
#global-header .download-app-btn {
	position: absolute;
	top: 9px;
	right: 20px;
	width: 120px;
	height: 30px;
	background-position: 0 -125px;
}


/* voice */
.voce-container {
	width: 100%;
	overflow-x: hidden;
}
.voice-cover img {
	display: block;
	width: 100%;
}
.voice-pannel {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 55px;
	background: rgba(0,0,0,.75);
}
.voice-pannel h1 {
	position: absolute;
	top: 10px;
	left: 54px;
	color: #fff;
	font-size: 14px;
}
.voice-pannel span {
	position: absolute;
	top: 28px;
	left: 54px;
	color: #fff;
	font-size: 11px;
}
.voice-pannel span .user-name {
	margin-right: 5px;
}
.voice-pannel span .category {
	margin: 0 3px;
	color: #5fb3ff;
}
.voice-info {
	padding: 0 20px;
}
.voice-status {
	padding: 11px 0;
	border-bottom: 1px solid #e4e4e4;
}
.voice-status i {
	height: 10px;
	color: #acacac;
	line-height: 1em;
	font-style: normal;
}
.voice-status i b {
	margin-right: 3px;
	color: #f78181;
	font-weight: normal;
}
.voice-status .played {
	padding-left: 12px;
	background-position: 0 -80px;
}
.voice-status .like {
	padding-left: 14px;
	background-position: 0 -95px;
}
.voice-intro {
	padding-top: 10px;
	border-bottom: 1px solid #e4e4e4;
}
.voice-intro p {
	margin-bottom: 10px;
	color: #666;
	font-size: 12px;
	line-height: 1.5em;
}
.voice-comments {
	margin-top: 20px;
}
.voice-comments h3 {
	color: #999;
	font-size: 14px;
}
.voice-comments h3 span {
	margin-left: 5px;
	font-size: 12px;
}
.voice-comments ul li {
	position: relative;
	padding-top: 17px;
	border-bottom: 1px solid #e4e4e4;
}
.voice-comments ul li .user-avatar {
	position: absolute;
	left: 0;
	width: 30px;
	height: 30px;
}
.voice-comments ul li .content {
	margin-left: 40px;
}
.voice-comments ul li .user-name {
	color: #000;
	line-height: 1.35em;
}
.voice-comments ul li .like {
	padding-left: 14px;
	color: #ccc;
	line-height: 12px;
	font-style: normal;
	background-position: 0 -110px;
}
.voice-comments ul li .time {
	color: #ccc;
	font-size: 9px;
}
.voice-comments ul li p {
	margin: 7px 0 15px;
	color: #555;
	line-height: 1.8em;
}
.voice-comments .btn-wp {
	padding: 20px 0;
	text-align: center;
}
.voice-comments .more-btn {
	padding-left: 24px;
	color: #999;
	font-size: 14px;
	background-position: 0 -155px;
}


/* globalfooter */
#global-footer {
	padding-bottom: 60px;
	text-align: center;
}
#global-footer span {
	color: #b9b9b9;
	font-size: 9px;
}

@media (-webkit-min-device-pixel-ratio:3) {
	body {
		font-size: 14px;
	}
	.voice-status i {
		height: 14px;
	}
	.voice-status .played {
		background-position: 0 -78px;
	}
	.voice-status .like {
		background-position: 0 -93px;
	}
	.voice-pannel h1 {
		font-size: 17px;
	}
	p,
	.voice-intro p {
		font-size: 14px;
	}
	.voice-comments h3 {
		font-size: 18px;
	}
	.voice-comments h3 span {
		font-size: 18px;
	}
	.voice-comments ul li .time,
	.voice-comments ul li .like {
		font-size: 11px;
	}
	#global-footer span {
		font-size: 12px;
	}
}
