/* echo css */



body.echo {
  position: relative;
  background-color: #ebebeb;
}
a {
  color: #6ed56c;
}

.echo i.icon,
.header-logo,
.header-panel-search .submit,
.user-panel .logout-btn,
.ui-status span,
.ui-status small,
.channel-info-btns a,
.user-info-wp .location,
.user-info-wp .btn,
.ui-tab-triggers .like a,
.voice .user-and-status .btn,
.voice .comment-form,
.voice .smiley-btn,
.comments-list .btn,
.dynamic-list .btn,
.close-btn,
.shuffle-btn,
.system-container .system-form .form-select,
.voice-share-inner .close-btn,
.voice-share-inner ul {
  background-image: url(../images/echo_sprites.png?v=20150130);
  background-repeat: no-repeat;
}

h1.title {
  color: #6b6b6b;
  font-size: 20px;
}
.ui-status span,
.ui-status small {
  float: left;
}
.ui-status span {
  padding-left: 24px;
  margin-right: 20px;
  height: 18px;
  color: #6b6b6b;
  font-size: 16px;
}
.ui-status span.voice {
  background-position: 0 -400px;
}
.ui-status span.follow {
  background-position: 0 -430px;
}
.ui-status span.share {
  margin-right: 0;
  background-position: 0 -460px;
}
.ui-status small {
  padding-left: 16px;
  margin-right: 14px;
  height: 14px;
  color: #6b6b6b;
  line-height: 14px;
}
.ui-status small.share {
  background-position: -300px -460px;
}
.ui-status small.like {
  background-position: -300px -430px;
}
.ui-status small.comment {
  margin-right: 0;
  background-position: -300px -400px;
}
.ui-triggers {
  margin: 20px auto;
  width: 158px;
}
.ui-triggers li {
  float: left;
  margin: 0 12px;
}
.ui-triggers a {
  display: block;
  padding: 3px 12px;
  color: #bbb;
  font-size: 14px;
  border: 1px solid #d9d9d9;
  border-radius: 13px;
}
.ui-triggers .active a,
.ui-triggers a:hover {
  color: #fff;
  background: #7ed321;
  border: 1px solid #7ed321;
}
.ui-tab-triggers li {
  float: left;
  margin-right: 12px;
}
.ui-tab-triggers a {
  display: block;
  width: 90px;
  height: 28px;
  color: #8c8c8c;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  border-radius: 14px;
}
.ui-tab-triggers a:hover,
.ui-tab-triggers .active a {
  color: #fff;
  background-color: #7ed321;
}

/* channel */
.channel-nav {
  padding: 15px 20px;
  background: #fff;
}
.channel-nav ul {
  margin-bottom: 15px;
}
.channel-nav ul li {
  display: inline-block;
  margin-right: 8px;
}
.channel-nav ul li a {
  display: inline-block;
  padding: 10px 12px;
  color: #6b6b6b;
  font-size: 14px;
  border-radius: 5px;
}
.channel-nav ul li.active a,
.channel-nav ul li a:hover {
  color: #fff;
  background: #7ade78;
}
.channel-list {
  margin: 0 -10px;
}
.channel-list li {
  float: left;
  margin-top: 20px;
  padding: 0 10px;
  width: 25%;
}
.channel-cover-wp {
  position: relative;
  padding-top: 50.8333%;
  border-radius: 3px;
  overflow: hidden;
}
.channel-cover-wp img {
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 3px;
}
.channel-cover-wp .mask {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.55) 100%);
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.55) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.55) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.55) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#88000000', endColorstr='#00000000', GradientType=0);
  background: linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.55) 100%);
  border-radius: 3px;
}
.channel-cover-wp h3 {
  position: absolute;
  bottom: 12px;
  left: 12px;
  color: #fff;
  font-size: 14px;
}
.channel-cover-wp a {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

/* channel detailed */
.channel-info {
  position: relative;
  padding: 20px 32px 18px;
  height: 218px;
  background: #fff;
}
.channel-cover {
  position: absolute;
  top: 56px;
  left: 32px;
  width: 280px;
  height: 142px;
  overflow: hidden;
}
.channel-cover img {
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}
.channel-info .intro {
  margin-top: 24px;
  margin-left: 306px;
}
.channel-info .intro h2 {
  color: #9b9b9b;
  font-size: 14px;
}
.channel-info .intro p {
  color: #666;
}
.channel-info-btns a {
  width: 91px;
  height: 34px;
}
.channel-info-btns .shuffle-btn {
  position: static;
  float: left;
  width: 110px;
  margin-right: 16px;
}
.channel-info-btns .follow-btn {
  margin-right: 16px;
  background-position: 0 -500px;
}
.channel-info-btns .follow-btn.active {
  background-position: -500px -500px;
}
.channel-info-btns .share-btn {
  background-position: -100px -500px;
}
.voices-list {
  margin-left: -9px;
  margin-right: -9px;
}
.voices-list li {
  float: left;
  margin-bottom: 20px;
  padding: 0 9px;
  width: 20%;
}
.voices-list li .voice-wp {
  position: relative;
  background: #fff;
  padding-bottom: 12px;
  overflow: hidden;
}
.voices-list li .add-btn {
  position: relative;
  border: 1px dashed #d6d6d6;
}
.voices-list li .add-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -72px;
  margin-left: -45px;
  width: 89px;
  height: 89px;
  background-position: 0 -540px;
}
.voices-list li .add-btn span {
  display: block;
  margin-top: 210px;
  margin-bottom: 78px;
  color: #ababab;
  font-size: 14px;
  text-align: center;
}
.voices-list li .add-btn a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.voices-list .voice-wp .voice-cover {
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  box-shadow: 0 2px 2px rgba(0,0,0,.3);
}
.voices-list .voice-wp .voice-cover-wp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.voices-list .voice-cover img {
  display: block;
  box-shadow: 0 2px 2px rgba(0,0,0,.3);
}
.voices-list .voice-cover .mask {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30%;
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.45) 100%);
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.45) 100%);
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.45) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#88000000', GradientType=0);
  background: linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,.45) 100%);
}
.voices-list .voice-wp .play-btn {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.voices-list .voice-wp .play-icon {
  display: block;
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 16px;
  height: 16px;
  background-position: -300px -540px;
}
.voices-list .voice-wp .voice-cover .voice-length {
  display: inline-block;
  position: absolute;
  left: 30px;
  bottom: 8px;
  color: #fff;
}
.voices-list .voice-wp h3 {
  margin-top: 20px;
  margin-left: 16px;
  height: 20px;
  overflow: hidden;
}
.voices-list .voice-wp h3 a {
  color: #4a4a4a;
  font-size: 14px;
}
.voices-list .user-avatar {
  position: absolute;
  bottom: 52px;
  left: 16px;
  display: block;
}
.voices-list .user-avatar img {
  display: block;
  width: 26px;
  height: 26px;
}
.voices-list .user-name {
  position: absolute;
  bottom: 54px;
  left: 50px;
  display: block;
  color: #9f9f9f;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
}
.voices-list .ui-status {
  margin-top: 64px;
  margin-left: 16px;
}

@media (min-width: 768px) {
  .voices-list li {
    width: 33.3333%;
    height: 355px;
  }
  .voices-list li .add-btn span {
    margin-bottom: 113px;
  }
}
@media (min-width: 992px) {
  .voices-list li {
    width: 25%;
    height: 347px;
  }
  .voices-list li .add-btn span {
    margin-bottom: 105px;
  }
}
@media (min-width: 1200px) {
  .voices-list li {
    width: 20%;
    height: 320px;
  }
  .voices-list li .add-btn span {
    margin-bottom: 78px;
  }
}
@media (min-width: 1500px) {
  .voices-list li {
    width: 16.6666%;
    height: 352px;
  }
  .voices-list li .add-btn span {
    margin-bottom: 110px;
  }
}

/* login */
.login .container {
  margin-top: 94px;
  padding: 24px 30px;
  width: 960px;
  height: 424px;
  background: #fff url(../images/echo_login_bg.png) right top no-repeat;
}
.system h1,
.system .btn,
.system i.icon,
.system-intro p,
.system-intro .btn {
  background-image: url(../images/echo_login_sprites.png);
}
.login h1 {
  width: 101px;
  height: 21px;
}
.system-form {
  margin-top: 74px;
  width: 418px;
}
input.system-input {
  margin-bottom: 12px;
  padding: 0 12px;
  font-size: 14px;
  line-height: 46px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}
.system-form input:focus {
  background: #e8e8e8;
}
input.system-input::-webkit-input-placeholder {
  color: #b7b7b7;
}
input.system-input::-moz-placeholder {
  color: #b7b7b7;
}
input.system-input:-ms-placeholder {
  color: #b7b7b7;
}
.system-form .user-name,
.system-form .user-password {
  margin-bottom: 24px;
  padding: 0 12px;
  width: 418px;
  height: 46px;
  color: #b7b7b7;
  background: #f7f7f7;
}
.system-form .user-password {
  margin-bottom: 18px;
}
.login .link-wp {
  height: 20px;
}
.forgot-password {
  color: #b7c8a5;
  font-size: 14px;
}
.login .btn-wp {
  margin: 32px auto 0;
  width: 318px;
}
.login .login-btn {
  margin-right: 30px;
  width: 115px;
  height: 50px;
  background-position: 0 -150px;
  cursor: pointer;
}
.login .weibo-btn {
  width: 173px;
  height: 50px;
  background-position: -200px -150px;
}
.system .echo-logo {
  display: block;
  width: 163px;
  height: 58px;
  background-position: 0 -50px;
}
.system-intro {
  position: relative;
  margin-top: -8px;
  width: 388px;
}
.system-intro p {
  margin-top: 70px;
  width: 288px;
  height: 46px;
  background-position: -200px -340px;
}
.system-intro .btn {
  display: block;
  width: 143px;
  height: 43px;
}
.system-intro .appstore-btn {
  margin-top: 58px;
  background-position: 0 -250px;
}
.system-intro .android-btn {
  margin-top: 18px;
  background-position: -200px -250px;
}
.system-intro .qrcode {
  position: absolute;
  bottom: 0;
  right: 72px;
  color: #919191;
  line-height: 12px;
  text-align: center;
}
.system-intro .code {
  display: block;
  margin: 0 auto 5px;
  width: 82px;
  height: 82px;
  background-position: 0 -340px;
}

/* upload / edit */
.system-container .btn,
.system-container .system-form .label-select label,
.uploaded-voice-wp .uploaded-voice .icon,
.label-checkbox label {
  display: block;
  background-image: url(../images/echo_system_sprites.png?v=201504);
  background-repeat: no-repeat;
}
.system-container {
  padding: 20px 30px;
  background: #fff;
}
.system-container h1 {
  color: #6b6b6b;
  font-size: 22px;
}
.help-block {
  margin-bottom: 16px;
  display: block;
  color: #9b9b9b;
  line-height: 1.8em;
}
.system-container .system-form {
  margin-top: 32px;
  padding-left: 130px;
  width: 100%;
}
.system-container .input-group {
  margin-bottom: 30px;
}
.system-container .system-form label {
  display: block;
  margin-bottom: 20px;
  color: #6b6b6b;
  font-size: 14px;
}
.system-container .system-form .system-input {
  margin-bottom: 20px;
  width: 50%;
  height: 40px;
  color: #76ab76;
  font-size: 12px;
  line-height: 40px;
  background: #efffef;
  border: 1px solid #dbf3db;
  border-radius: 4px;
}
.system-container .system-form .system-input:focus {
  color: #5e8a5e;
  background: #e5f7e5;
}
.system-container input.system-input::-webkit-input-placeholder,
.system-container textarea.system-input::-webkit-input-placeholder {
  color: #76ab76;
}
.system-container input.system-input::-moz-placeholder,
.system-container textarea.system-input::-moz-placeholder {
  color: #76ab76;
}
.system-container input.system-input:-ms-placeholder,
.system-container textarea.system-input:-ms-placeholder {
  color: #76ab76;
}
.system-container .system-form .label-select label {
  margin-bottom: 10px;
  padding-left: 24px;
  height: 16px;
  color: #6b6b6b;
  font-size: 12px;
  line-height: 1.33em;
  background-position: 0 -26px;
  cursor: pointer;
}
.system-container .system-form .label-select label.active {
  background-position: 0 0;
}
.label-select input,
.label-checkbox input {
  display: none;
}
.system-container .btn {
  margin-bottom: 16px;
  width: 190px;
  height: 40px;
}
.system-container .upload-voice {
  margin-bottom: 56px;
}
.system-container .btn-upload {
  background-position: 0 -100px;
}
.system-container .btn-reupload {
  background-position: 0 -150px;
}
.system-container .submit-btn {
  background-position: 0 -200px;
}
.system-container .resubmit-btn {
  background-position: 0 -250px;
}
.ui-progress-bar {
  margin-top: 24px;
  margin-bottom: 36px;
}
.ui-progress-bar .progress {
  position: relative;
  margin: 7px 2% 0 0;
  width: 55%;
  height: 4px;
  background: #efffef;
  box-shadow: none;
  border-radius: 4px;
}
.ui-progress-bar .progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: #6ed56c;
  box-shadow: none;
  border-radius: 4px;
}
.uploaded-voice-wp {
  margin-bottom: 12px;
}
.uploaded-voice,
.uploaded-voice-cover {
  display: inline-block;
}
.uploaded-voice {
  height: 16px;
  line-height: 1.33em;
}
.uploaded-voice-cover {
  margin-right: 30px;
  width: 160px;
  height: 160px;
}
.uploaded-voice-wp .uploaded-voice .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: 0 -52px;
  vertical-align: top;
}
.uploaded-voice-wp b {
  color: #9b9b9b;
  font-weight: normal;
  line-height: 1.33em;
  vertical-align: top;
}
.uploaded-voice-wp span {
  margin-left: 12px;
  color: #7ade78;
  line-height: 1.33em;
}
.uploaded-voice-wp span.error {
  color: #ff1835;
}
.uploaded-cover-wp span {
  display: inline-block;
  margin: 92px 12px 12px 0;
}
.system-container .system-form textarea.system-input {
  padding: 10px 16px;
  height: auto;
  line-height: 1.5em;
}
.system-container .system-form .label-checkbox label {
  display: inline-block;
  margin-bottom: 10px;
  padding-left: 24px;
  height: 14px;
  color: #5c5c5c;
  font-size: 12px;
  line-height: 1.33em;
  background-position: -300px -52px;
  cursor: pointer;
}
.system-container .system-form .label-checkbox label.active {
  background-position: -300px -80px;
}
.label-checkbox label a {
  color: #7dd87b;
}
.system-container .system-form .form-select {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-left: 12px;
  width: 128px;
  height: 40px;
  color: #76ab76;
  font-size: 14px;
  line-height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #efffef;
  background-position: right -620px;
  border: 1px solid #dbf3db;
  border-radius: 4px;
}
.system-container .system-form .gender {
  width: 86px;
}

/* personal */
.user-info-wp {
  position: relative;
  background: #fff;
  text-align: center;
}
.shuffle-btn {
  position: absolute;
  width: 110px;
  height: 34px;
  background-position: -100px -540px;
}
.personal .user-info-wp {
  position: absolute;
  width: 386px;
}
.personal .user-info-wp .shuffle-btn {
  top: 16px;
  left: 16px;
}
.personal .user-info-wp .user-avatar {
  margin: 42px auto 0;
  width: 142px;
  height: 142px;
}
.user-info-wp .user-avatar img {
  box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.user-info-wp .user-name {
  margin-top: 30px;
  color: #4a4a4a;
  font-size: 26px;
}
.user-info-wp .user-info {
  margin: 12px auto 0;
}
.user-info-wp .gender-icon {
  display: inline-block;
  margin-right: 14px;
  width: 14px;
  height: 14px;
  background-position: 0 -650px;
}
.user-info-wp .female-icon {
  background-position: -200px -650px;
}
.user-info-wp .user-info span {
  display: inline-block;
  margin-right: 14px;
  color: #8c8c8c;
  font-size: 14px;
  line-height: 14px;
}
.user-info-wp .user-info .location {
  margin-right: 0;
  padding-left: 12px;
  background-position: 0 -710px;
}
.personal .user-status {
  margin-top: 46px;
}
.personal .user-status div {
  display: inline-block;
}
.personal .user-status b {
  display: block;
  color: #4a4a4a;
  font-size: 18px;
  font-weight: normal;
}
.personal .user-status span {
  display: block;
  padding: 14px 30px 0;
  color: #8c8c8c;
  font-size: 14px;
  line-height: 14px;
  border-right: 1px solid #d9d9d9;
}
.personal .user-status .followed span {
  border: none;
}
.personal .user-info-wp .intro {
  margin-top: 72px;
  padding: 0 42px;
  color: #464646;
}
.user-info-wp .btn {
  margin: 64px auto 42px;
  display: block;
  height: 34px;
}
.personal .user-info-wp .btn {
  width: 91px;
  background-position: 0 -500px;
}
.personal .user-info-wp .edit-btn {
  background-position: -200px -500px;
}
.personal-container {
  margin-left: 414px;
}
.personal-container .no-data-wp {
  position: relative;
  height: 527px;
  background: #f5f5f5;
}
.no-data-wp .tip-wp {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  width: 100%;
  text-align: center;
}
.no-data-icon {
  display: inline-block;
  margin-right: 20px;
  width: 32px;
  height: 32px;
  background-position: -500px -28px;
}
.no-data-wp span {
  display: inline-block;
  margin-top: 8px;
  color: #b8b8b8;
  font-size: 14px;
  vertical-align: top;
}
.personal .ui-tab-triggers {
  margin-bottom: 12px;
  padding: 12px;
  background: #fff;
}
.personal .ui-tab-triggers ul {
  margin: 0 auto;
  width: 312px;
}
.ui-tab-triggers .like {
  margin-right: 0;
}
.ui-tab-triggers .like a {
  padding: 0 15px 0 28px;
  width: 108px;
  background-position: 0 -680px;
}
.ui-tab-triggers .like a:hover,
.ui-tab-triggers .like.active a {
  background-position: -200px -680px;
}
.personal-container .voices-list li {
  margin-bottom: 32px;
  width: 33.3333%;
}

@media (min-width: 768px) {
  .personal-container .voices-list li {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .personal-container .voices-list li {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .personal-container .voices-list li {
    width: 33.3333%;
  }
}
@media (min-width: 1500px) {
  .personal-container .voices-list li {
    width: 25%;
  }
}

/* voice */
.voice-container {
  margin-bottom: 8px;
  padding: 16px 28px 0;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,.1);
}
.voice .title-and-category {
  margin-bottom: 12px;
  color: #9b9b9b;
}
.voice .title-and-category .title {
  margin-left: 4px;
}
.voice h1 {
  display: inline-block;
  margin-right: 12px;
  color: #6b6b6b;
  font-size: 20px;
}
.voice .played {
  margin-top: 3px;
  display: block;
}
.voice .played b {
  margin-right: 3px;
  color: #8ed72b;
  font-weight: normal;
}
.voice .category {
  margin-top: 12px;
}
.voice .category a {
  margin-right: 3px;
  color: #8ed72b;
  font-size: 14px;
}
.voice .voice-wp {
  position: relative;
  margin: 0 -28px;
  height: 416px;
  background: #99cfe1;
}
.voice .voice-wp .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.3);
  overflow: hidden;
}
.voice-wp-bg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.voice .voice-wp .mask img {
  position: absolute;
  display: block;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.voice .voice-wp .bg-mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.6);
  box-shadow: inset 0 0 6px rgba(0,0,0,.06);
}
.voice .voice-wp .player {
  margin: 0 auto;
  width: 1024px;
}
.voice .voice-wp .voice-cover {
  position: absolute;
  top: 42px;
  left: 32px;
  padding: 5px;
  width: 300px;
  height: 300px;
  background: rgba(255,255,255,.7);
  box-shadow: 0 0 4px rgba(0,0,0,.3);
}
.voice .voice-wp .voice-cover img {
  display: block;
}
.voice .user-and-status {
  position: relative;
  margin: 0 -28px;
  padding: 0 30px;
  height: 92px;
}
.voice .user-and-status .user {
  position: relative;
}
.voice .user-and-status .user-avatar {
  position: absolute;
  top: 16px;
  left: 0;
  width: 60px;
  height: 60px;
}
.voice .user-and-status .user-and-time {
  margin-left: 72px;
}
.voice .user-and-status .user-name {
  display: block;
  margin: 28px 0 3px;
  color: #6b6b6b;
  font-size: 16px;
}
.voice .user-and-status .upload-time {
  color: #8e8e8e;
}
.voice .user-and-status .btn-wp {
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -78px;
}
.voice .user-and-status .btn {
  width: 63px;
  height: 63px;
}
.voice .user-and-status .like-btn {
  margin-right: 30px;
  background-position: 0 -800px;
}
.voice .user-and-status .like-btn:hover,
.voice .user-and-status .like-btn.active {
  background-position: -100px -800px;
}
.voice .user-and-status .share-btn {
  background-position: -200px -800px;
}
.voice .user-and-status .share-btn:hover {
  background-position: -300px -800px;
}
.voice-status {
  margin-top: 37px;
}
.voice-status span.share {
  margin-right: 20px;
}
.voice-status span.like {
  background-position: 0 -340px;
}
.voice-status span.comment {
  margin-right: 0;
  background-position: 0 -370px;
}
.voice .comment-form-wp {
  padding: 24px 4px;
}
.voice .comment-form {
  position: relative;
  margin-right: 178px;
}
input.comment-input {
  padding: 0 12px;
  width: 100%;
  height: 38px;
  color: #aaa;
  font-size: 14px;
  line-height: 38px;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
}
.comment-form input:focus {
  background: #fff;
}
input.comment-input::-webkit-input-placeholder {
  color: #aaa;
}
input.comment-input::-moz-placeholder {
  color: #aaa;
}
input.comment-input:-ms-placeholder {
  color: #aaa;
}
.voice .comment-form .btn-wp {
  position: absolute;
  top: -4px;
  right: -178px;
}
.voice .smiley-btn {
  margin-right: 18px;
  width: 48px;
  height: 48px;
  background-position: -400px -800px;
}
.voice .comment-form .submit-btn {
  margin-top: 5px;
  width: 94px;
  height: 38px;
  color: #fff;
  background: #66e850;
  border: none;
}
.voice h3 {
  color: #6b6b6b;
  font-size: 14px;
}
.voice .intro {
  float: left;
  margin-right: 0.7812%;
  padding: 12px 18px;
  width: 42.5781%;
  background: #fff;
}
.voice .intro p {
  color: #666;
  padding: 30px 42px;
}
.voice .comments {
  float: left;
  padding: 12px 24px;
  width: 56.6407%;
  background: #fff;
}
.voice .comments-list {
  margin: 12px 0;
}
.voice .comments-list li {
  position: relative;
  padding: 18px 0;
  border-bottom: 1px solid #efefef;
}
.comments-list .user-avatar {
  position: absolute;
  top: 14px;
  display: block;
  width: 50px;
  height: 50px;
}
.comments-list .user-name {
  margin-right: 5px;
  color: #898989;
  font-size: 14px;
}
.comments-list .comment-time {
  color: #b7b7b7;
}
.comments-list .comment-content {
  margin-left: 62px;
  margin-right: 154px;
}
.comments-list .comment-content p {
  margin-top: 5px;
  color: #666;
  font-size: 14px;
}
.comments-list .btn-wp {
  position: absolute;
  bottom: 18px;
  right: 0;
  text-align: right;
}
.comments-list .btn {
  display: inline-block;
  padding-left: 22px;
  height: 14px;
  color: #b7b7b7;
  line-height: 14px;
}
.comments-list .reply-btn {
  margin-right: 24px;
  background-position: 0 -880px;
}
.comments-list .zan-btn {
  padding-left: 16px;
  background-position: -100px -880px;
}
.comments-list .zan-btn:hover,
.comments-list .zan-btn.active {
  color: #ffaf04;
  background-position: -200px -880px;
}
.voice p.error {
  color: #9b9b9b;
  text-align: center;
}
.comments p.error {
  margin: 31px 0 32px;
}
.voice-share-inner-wp {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
}
.voice-share-inner-wp.active {
  display: block;
}
.voice-share-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -92px;
  margin-left: -256px;
  padding: 5px;
  width: 512px;
  background: rgba(243,243,243,.5);
  border-radius: 5px;
}
.voice-share {
  padding: 12px;
  background: #f3f3f3;
  border-radius: 3px;
}
.voice-share h4 {
  color: #676767;
  font-size: 1.16em;
  font-weight: normal;
}
.voice-share h4 a {
  margin: 0 3px;
}
.voice-share-inner .close-btn {
  width: 16px;
  height: 16px;
  background-position: 0 -1000px;
  cursor: pointer;
}
.voice-share-inner ul {
  display: block;
  margin: 38px 0 34px 36px;
  background-position: 0 -1030px;
}
.voice-share-inner li {
  float: left;
  margin: 0 15px;
}
.voice-share-inner li a {
  display: block;
  padding: 52px 0 0;
  width: 48px;
  color: #838383;
  text-align: center;
}
@media (max-width: 992px) {
  .voice .intro {
    float: none;
    margin-right: 0;
    margin-bottom: 8px;
    width: 100%;
  }
  .voice .comments {
    float: none;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .voice .voice-wp .player {
    width: 712px !important;
  }
}
@media (min-width: 992px) {
  .voice .voice-wp .player {
    width: 920px !important;
  }
}
@media (min-width: 1200px) {
  .voice .voice-wp .player {
    width: 1024px !important;
  }
}
@media (min-width: 1500px) {
  .voice .voice-wp .player {
    width: 1420px !important;
  }
}

/* dynamic(index-logged) */
.dynamic-container {
  margin-right: 224px;
  padding: 16px 18px;
  background: #fff;
}
.dynamic .right {
  position: absolute;
  top: 0;
  right: 0;
  width: 210px;
}
.dynamic-container .ui-tab-triggers {
  padding-bottom: 16px;
  border-bottom: 1px solid #f2f2f2;
}
.dynamic-list li {
  position: relative;
  padding: 30px 0 0;
}
.dynamic-list-left {
  position: absolute;
  width: 112px;
  text-align: right;
}
.dynamic-list .user-avatar {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.dynamic-list .user-name {
  margin-top: 8px;
  display: block;
  color: #4a4a4a;
}
.dynamic-list .time {
  color: #8c8c8c;
  font-size: 10px;
}
.dynamic-list-right {
  position: relative;
  margin-left: 152px;
  padding-bottom: 30px;
  border-bottom: 1px solid #f2f2f2;
}
.dynamic-list .voice-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 116px;
  height: 116px;
  overflow: hidden;
}
.dynamic-list .play-btn {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0,0,0,.5);
}
.dynamic-list .play-icon {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -28px;
  margin-left: -19px;
  width: 38px;
  height: 38px;
  background-position: 0 -250px;
}
.dynamic-list .voice-length {
  display: none;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: 16px;
  width: 100%;
  color: #fff;
  text-align: center;
}
.dynamic-list .active .play-btn,
.dynamic-list .active .play-icon,
.dynamic-list .active .voice-length {
  display: block;
}
.dynamic-list-content {
  margin-left: 144px;
  padding-top: 8px;
}
.dynamic-list h3 a {
  color: #4a4a4a;
  font-size: 18px;
}
.dynamic-list .category {
  color: #9b9b9b;
}
.dynamic-list .category b {
  margin-right: 3px;
  color: #8ed72b;
  font-weight: normal;
}
.dynamic-list .status-and-btn {
  margin: 40px 0 12px;
}
.dynamic-list .voice-status {
  margin-top: 0;
}
.dynamic-list .status-and-btn .btn {
  display: block;
  width: 20px;
  height: 18px;
}
.dynamic-list .like-btn {
  margin-right: 28px;
  background-position: 0 -340px;
}
.dynamic-list .like-btn:hover,
.dynamic-list .like-btn.active {
  background-position: -200px -340px;
}
.dynamic-list .share-btn {
  margin-right: 20px;
  background-position: 0 -460px;
}
.dynamic .user-info-wp {
  padding: 30px;
}
.dynamic .user-info-wp .user-avatar {
  margin: 0 auto;
  width: 92px;
  height: 92px;
}
.dynamic .user-info-wp .user-name {
  font-size: 18px;
}
.dynamic .user-info-wp .user-info {
  margin-bottom: 50px;
  height: 14px;
  line-height: 14px;
}
.dynamic .user-info-wp .user-info .gender-icon {
  margin-right: 10px;
}
.dynamic .user-info-wp .user-info span {
  font-size: 12px;
}
.user-info-wp .like-btn {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 100px;
  background-position: -300px -500px;
}
.right-ad {

}

/* discover */
.discover .banner img {
  display: block;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
}
.discover-tip {
  display: none;
  position: relative;
  padding: 14px 0;
  height: 64px;
  background: #fff;
}
.discover-tip.active {
  display: block;
}
.discover-tip .content {
  margin: 0 auto;
  width: 440px;
}
.discover-tip h2,
.discover-tip .download-btn {
  background-image: url(../images/discover_tip.png);
  background-repeat: no-repeat;
}
.discover-tip h2 {
  margin-right: 14px;
  width: 336px;
  height: 36px;
}
.discover-tip .download-btn {
  display: block;
  width: 90px;
  height: 36px;
  background-position: -350px 0;
}
.close-btn {
  display: block;
  position: absolute;
  top: 24px;
  right: 18px;
  width: 14px;
  height: 14px;
  background-position: -300px -880px;
}

