/* echo mobile common css */



/* 重置 */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}



body {
	font-size: 12px;
	line-height: 1.5em;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
input,
textarea,
.btn {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
textarea {
	resize: none;
}
:focus {
	outline: none;
}
table {
	border-collapse: collapse;
}
ul,
ol {
	list-style: none;
}
a,
a:hover {
	text-decoration: none;
}

/* 浮动 */
.float-left,
.fl {
	float: left !important;
}
.float-right,
.fr {
	float: right !important;
}

/* 清除浮动 */
.clearfix,
.container,
.cf {
	*zoom: 1;
}
.clearfix:before,
.container:before,
.cf:before,
.clearfix:after,
.container:after,
.cf:after {
	display: table;
	content: " ";
	line-height: 0;
}
.clearfix:after,
.container:after,
.cf:after {
	clear: both;
}

/* 隐藏文字 */
.hidden-text,
.ht {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

/* 形状 */
.triangle {
	display: inline-block;
	width: 0;
	height: 0;
	*zoom: 1;
}
.circle {
	display: inline-block;
	border-radius: 50%;
}

/* 圆角 */
.border-radius-2,
.br-2 {
	border-radius: 2px;
}
.border-radius-3,
.br-3 {
	border-radius: 3px;
}
.border-radius-4,
.br-4 {
	border-radius: 4px;
}
.border-radius-6,
.br-6 {
	border-radius: 6px;
}
.border-radius-8,
.br-8 {
	border-radius: 8px;
}
.border-radius-10,
.br-10 {
	border-radius: 10px;
}

/* 上边距 */
.prepend-top,
.ppt {
	margin-top: 5px;
}
.prepend-top-12,
.ppt-12 {
	margin-top: 12px;
}
.prepend-top-24,
.ppt-24 {
	margin-top: 24px;
}
.prepend-top-36,
.ppt-36 {
	margin-top: 36px;
}

.hide {
	display: none;
}
img {
	width: 100%;
}
.blur {
	-webkit-filter: blur(10px);
	-moz-filter: blur(10px);
	-ms-filter: blur(10px);
	filter: blur(10px);
}


/* 布局 */
.container {
	position: relative;
}
