.mplayer {
  position: fixed;
  bottom: 20px;
  left:   0;
  height: 100px;
  background: rgba(0,0,0,.6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);
  border-radius: 0 5px 5px 0;
  padding-right: 24px; /* width of .ctrl-toggle */
  line-height: 14px;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-transition: all .5s ease-in-out;
     -moz-transition: all .5s ease-in-out;
      -ms-transition: all .5s ease-in-out;
       -o-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;

  overflow: hidden;
  width: 100px;
}
.mplayer.half {
  width: 267px;
}
.mplayer.full {
  width:  666px;
  overflow: visible;
}
.mplayer, .mplayer a {
  color: #9c9c9c;
  font-size: inherit;
}

/* controller */
.mplayer .ctrl-toggle {
  position: absolute;
  top:    0;
  right:  0;
  width:  24px;
  height: 100%;
  z-index: 3;
  background: rgba(0,0,0,.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33000000,endColorstr=#33000000);
  border-radius: 0 5px 5px 0;
  text-align: center;
}
.mplayer .ctrl-toggle i {
  height:      100px;
  line-height: 100px;
}
.mplayer .ctrl-toggle i:before {
  content: "\f105"; /* fa-angle-right */
}
.mplayer.full > .ctrl-toggle i:before {
  content: "\f104"; /* fa-angle-left */
}
/* controller / color */
.mplayer .ctrl-toggle,
.mplayer .panel .vjs-control i,
.mplayer .panel [class*="ctrl-"] * {
  -webkit-transition: all .15s ease;
     -moz-transition: all .15s ease;
      -ms-transition: all .15s ease;
       -o-transition: all .15s ease;
          transition: all .15s ease;
}
.mplayer .ctrl-toggle:hover,
.mplayer .ctrl-loop li:hover > *,
.mplayer .panel .vjs-control:hover > i,
.mplayer .panel [class*="ctrl-"]:hover > i {
  color: #fff;
}
.mplayer .ctrl-toggle:active,
.mplayer .ctrl-loop li:active > *,
.mplayer .panel .vjs-control:active i,
.mplayer .panel [class*="ctrl-"]:active > i {
  color: #6ed56c;
}


/* panel */
.mplayer .panel {
  position: absolute;
  right:  24px; /* width of .ctrl-toggle */
  left:   0;
  bottom: 0;
  height: 100%;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
.mplayer .panel-header {
  position: relative;
  border-bottom: 1px solid #fff;
  overflow: hidden;
  padding: 16px 12px;
}
.mplayer .panel .vjs-control,
.mplayer .panel [class*="ctrl-"] {
  position: relative;
}


/* core-panel */
.mplayer .core-panel {
  right:  auto;
  left:  -100px;
  width:  100px;
  height: 100px;
}
.mplayer .core-panel * {
  position: absolute;
  width:  100%;
  height: 100%;
}


/* info-panel */
.mplayer .info-panel {
  right:   auto;
  left:    0;
  width:   0;
  margin:  0 0 0 100px;
  z-index: 1;
  white-space: nowrap;
  background:  none;
  -webkit-transition: all .15s ease;
     -moz-transition: all .15s ease;
      -ms-transition: all .15s ease;
       -o-transition: all .15s ease;
          transition: all .15s ease;
}
.mplayer.half .info-panel,
.mplayer.full .info-panel {
  width:   140px;
  padding: 0 14px;
}
.mplayer .info-panel .media-cover {
  position: absolute;
  top:    0;
  left:  -100px;
  width:  100px;
  height: 100px;
  background: url(../images/disc_43x43.png) no-repeat center\9;
}
.mplayer .info-panel .media-cover:empty {
  background: url(../images/disc_43x43.png) no-repeat center;
  background-size: 65%;
}
.mplayer .info-panel .media-cover img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.mplayer .info-panel .media-channel,
.mplayer .info-panel .media-name,
.mplayer .info-panel .media-author {
  width: 100%;
  line-height: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mplayer .info-panel .media-channel {
  font-size: 12px;
  margin-top: 10px;
}
.mplayer .info-panel .media-channel a {
  color: #6ed56c;
}
.mplayer .info-panel .media-name {
  font-size: 14px;
  margin-top: 10px;
}
.mplayer .info-panel .media-author {
  font-size: 10px;
  margin-top: 5px;
}


/* ctrl-panel */
.mplayer .ctrl-panel {
  padding-left: 267px;
  visibility: hidden;
}
.mplayer.full .ctrl-panel {
  visibility: visible;
}
.mplayer .ctrl-panel .fa {
  line-height: inherit;
}
.mplayer .ctrl-panel [class*="-ctrl"],
.mplayer .ctrl-panel [class*="ctrl-"] {
  position: relative;
  display: inline-block;
  float: left;
  height: 100px;
  line-height: 100px;
}
/* ctrl-panel / play-ctrl */
.mplayer .ctrl-panel .base-ctrl {
  padding-left: 14px;
}
.mplayer .ctrl-panel .base-ctrl:before {
  position: absolute;
  display: block;
  width: 1px;
  height: 70%;
  top: 15%;
  left: 0;
  background: #bbb;
  content: "";
}
.mplayer .ctrl-panel [class*="-ctrl"] {
  margin-right: 14px;
}
.mplayer .ctrl-panel .base-ctrl a ~ a,
.mplayer .ctrl-panel .opts-ctrl a ~ a {
  margin-left: 14px;
}
.mplayer .ctrl-panel .ctrl-play {
  font-size: 2em;
}
.mplayer .ctrl-panel .fa-play:before {
  padding-left: .2em;
}
.mplayer .ctrl-panel .ctrl-loop {
  width: 2em;
}
.mplayer .ctrl-panel .ctrl-loop ul {
  position: absolute;
  bottom: 50%;
  margin-bottom: -25px;
  padding: 10px 0;
  z-index: 3;
}
.mplayer .ctrl-panel .ctrl-loop li {
  display: none;
  position: relative;
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.mplayer .ctrl-panel .ctrl-loop .text {
  display: block;
  text-align: center;
  font-size: 6px;
}
.mplayer .ctrl-panel .ctrl-loop .fa-stack-2x {
  top: 0;
}
.mplayer .ctrl-panel .ctrl-loop li:last-child {
  display: block;
}
.mplayer .ctrl-panel .ctrl-loop ul.chose {
  border-radius: 5px;
  background: rgba(0,0,0,.7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2000000,endColorstr=#b2000000);
}
.mplayer .ctrl-panel .ctrl-loop ul.chose li {
  display: block;
}
.mplayer.playing .ctrl-panel .fa-play:before {
  padding-left: 0;
  content: "\f04c";
}
/* ctrl-panel / opts-ctrl */
.mplayer .ctrl-panel .ctrl-like.active {
  color: #ff6464;
}
.mplayer .ctrl-panel [class*="ctrl-"].enabled {
  color: #6ed56c;
}
/* ctrl-panel / vols-ctrl */
.mplayer .ctrl-panel .vols-ctrl .vjs-control {
  position: relative;
  display: inline-block;
  float: left;
  height: 100px;
}
.mplayer .ctrl-panel .vols-ctrl .vjs-mute-control .fa:before,
.mplayer .ctrl-panel .vols-ctrl .vjs-vol-3 .fa:before,
.mplayer .ctrl-panel .vols-ctrl .vjs-vol-2 .fa:before {
  content: "\f028"; /* volume-up */
}
.mplayer .ctrl-panel .vols-ctrl .vjs-vol-1 .fa:before {
  content: "\f027"; /* volume--down */
}
.mplayer .ctrl-panel .vols-ctrl .vjs-vol-0 .fa:before {
  content: "\f026"; /* volume-off */
}
.mplayer .ctrl-panel .vols-ctrl .vjs-volume-control {
  width: 70px;
}
.mplayer .ctrl-panel .vols-ctrl .vjs-volume-bar {
  position: absolute;
  top:    50%;
  right:  0;
  left:   8px;
  height: 6px;
  margin-top: -3px;
  background: #bbb;
  cursor: pointer;
}
.mplayer .ctrl-panel .vols-ctrl .vjs-volume-level {
  position: absolute;
  top:    0;
  left:   0;
  width:  100%;
  height: 100%;
  background: #fff;
}
/* ctrl-panel / play-status */
.mplayer .ctrl-panel .play-status {
  position: absolute;
  right:  0;
  bottom: 0;
  left:   100px;
  height: 5px;
  z-index: 2;
}
.mplayer .ctrl-panel .vjs-control-text {
  display: none;
}
.mplayer .ctrl-panel .vjs-time-controls {
  position: absolute;
  display: inline;
  bottom: 10px;
}
.mplayer .ctrl-panel .vjs-current-time {
  left: 14px;
}
.mplayer .ctrl-panel .vjs-duration {
  right: 14px;
}
/* ctrl-panel / progress-bar */
.mplayer .vjs-progress-control {
  position: absolute;
  bottom: 0;
  right:  0;
  left:   0;
  height: 5px;
  background: rgba(126,211,33,.1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#197ed321,endColorstr=#197ed321);
  cursor: pointer;
}
.mplayer .vjs-progress-holder {
  position: absolute;
  width: 100%;
  height: 100%;
}
.mplayer .vjs-load-progress,
.mplayer .vjs-play-progress {
  position: absolute;
  display: block;
  height:  100%;
  margin:  0;
  padding: 0;
  width:   0;
  left:    0;
  top:     0;
}
.mplayer .vjs-load-progress {
  background: rgba(126,211,33,.2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#337ed321,endColorstr=#337ed321);
}
.mplayer .vjs-play-progress {
  background: rgba(126,211,33,.75);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#bf7ed321,endColorstr=#bf7ed321);
}


/* list-panel - 5% | 28% | 28% | 28% | 6% | 5% */
.mplayer .list-panel {
  bottom: 100%;
  left:   0;
  height: 0;
  overflow:   hidden;
  visibility: hidden;
  background: rgba(0,0,0,.7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b2000000,endColorstr=#b2000000);
  -webkit-transition: height .5s ease-in-out;
     -moz-transition: height .5s ease-in-out;
      -ms-transition: height .5s ease-in-out;
       -o-transition: height .5s ease-in-out;
          transition: height .5s ease-in-out;
}
.mplayer.full .list-panel {
  visibility: visible;
}
.mplayer.full .list-panel.enabled {
  height: 237px;
}
.mplayer .list-panel .panel-header {
  padding-right: 32px;
}
.mplayer .list-panel .ctrl-empty {
  float: right;
  margin: 0 14px;
  color: #6ed56c;
  font-size: 0.8em;
}
.mplayer .list-panel .ctrl-close {
  position: absolute;
  top:   50%;
  right: 0;
  margin: -1em 14px 0 0;
}
.mplayer .list-panel .panel-body {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px 0;
  max-height: 172px;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
/* list-panel / item */
.mplayer .list-panel li {
  clear: both;
  overflow: hidden;
  padding: 2px 0;
  cursor: pointer;
}
.mplayer .list-panel li:hover,
.mplayer .list-panel li.playing {
  background: rgba(255,255,255,0.1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#19ffffff,endColorstr=#19ffffff);
}
.mplayer .list-panel li ~ li {
  margin: 4px 0 0 0;
}
.mplayer .list-panel li > * {
  display: inline-block;
  float: left;
}
.mplayer .list-panel .fa-play {
  width: 5%;
  visibility: hidden;
  text-align: center;
  color: #6ed56c;
}
.mplayer .list-panel li.playing .fa-play {
  visibility: visible;
}
.mplayer .list-panel li.playing .media-name {
  color: #6ed56c;
}
.mplayer .list-panel .media-channel span {
  color: #6ed56c;
}
.mplayer .list-panel .media-name,
.mplayer .list-panel .media-author,
.mplayer .list-panel .media-channel {
  width: 27%;
  padding-right: 1%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mplayer .list-panel .media-duration {
  width: 6%;
  text-align: right;
}
.mplayer .list-panel .ctrl-remove {
  width: 5%;
  text-align: center;
}
