.splayer {
  overflow: hidden;
  position: absolute;
  top:    0;
  right:  0;
  bottom: 0;
  left:   0;
}
.splayer .video-js {
  overflow: hidden;
  position: absolute;
  top:    0;
  right:  0;
  bottom: 0;
  left:   0;
}
.splayer .video-js .vjs-tech, audio.video-js, video.video-js {
  overflow: hidden;
  position: absolute;
  top:    -1px;
  left:   -1px;
  width:  1px;
  height: 1px;
}
.splayer .vjs-control-bar {
  position:absolute;
  bottom:0;left:0;right:0;
  background:#fff;
  opacity:.85;
  box-shadow: 0 2px 4px rgba(0,0,0,.06);
  height:50px;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: -moz-none;
       -o-user-select: none;
          user-select: none;
}
.splayer .vjs-control-bar:hover{
  opacity:1;
}

.splayer .vjs-control {
  cursor: pointer;
  position: absolute;
  -webkit-transition: background-color 0.2s ease-in-out;
     -moz-transition: background-color 0.2s ease-in-out;
      -ms-transition: background-color 0.2s ease-in-out;
       -o-transition: background-color 0.2s ease-in-out;
          transition: background-color 0.2s ease-in-out;
}
.splayer .vjs-control-text {
  display: none;
}

/* buttons */
.splayer .vjs-play-control {
  left:   8px;
  top:    5px;
  width:  40px;
  height: 40px;
  background-image: url(../images/echo_sprites.png?v=20150130);
  background-repeat: no-repeat;
  background-position: -100px -250px;
}
.splayer .vjs-play-control.vjs-paused {
  background-position: -100px -250px;
}
.splayer .vjs-play-control.vjs-playing {
  background-position: -200px -250px;
}
.splayer .vjs-loop-button {
  top:    12px;
  right:  95px;
  width:  30px;
  height: 25px;
  background-image: url(../images/echo_sprites.png?v=20150130);
  background-repeat: no-repeat;
  background-position: -400px -250px;
}
.splayer .vjs-loop-button.disabled {
  background-position: -300px -250px;
}
.splayer .vjs-danmaku-button {
  top:    8px;
  right:  8px;
  width:  73px;
  height: 34px;
  background-image: url(../images/echo_sprites.png?v=20150130);
  background-repeat: no-repeat;
  background-position: -400px -340px;
}
.splayer .vjs-danmaku-button.disabled {
  background-position: -500px -340px;
}

/* time */
.splayer .vjs-time-controls {
  color: #000;
  top: 1.5em;
  width: 40px;
  text-align: center;
}
.splayer .vjs-current-time {
  left: 48px;
}
.splayer .vjs-duration {
  right: 131px;
}

/* progress */
.splayer .vjs-progress-control {
  position: absolute;
  top:    1.8em;
  left:   88px;
  right:  171px;
  height: 0.8em;
  background: rgba(126,211,33,.1);
  border-radius: 3px;
}
.splayer .vjs-progress-holder {
  position: absolute;
  width: 100%;
  height: 100%;
}
.splayer .vjs-load-progress, .splayer .vjs-play-progress {
  position: absolute;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 0;
  left: 0;
  top: 0;
}
.splayer .vjs-load-progress {
  background: #7ed321;
  opacity:.2;
}
.splayer .vjs-play-progress {
  background: #7ed321;
  opacity:.75;
}
