.splayer {
  overflow: hidden;
  position: absolute;
  top:    0;
  right:  0;
  bottom: 0;
  left:   0;
}
.video-js {
  overflow: hidden;
  position: absolute;
  top:    0;
  right:  0;
  bottom: 0;
  left:   0;
}
.video-js .vjs-tech, audio.video-js, video.video-js {
  overflow: hidden;
  position: absolute;
  top:    -1px;
  left:   -1px;
  width:  1px;
  height: 1px;
}

.vjs-control {
  cursor: pointer;
  position: absolute;
}
.vjs-control-text {
  display: none;
}

/* buttons */
.vjs-play-control {
  left:   10px;
  top:    10px;
  width:  36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: 0 -40px;
}
.vjs-play-control.vjs-paused {
  background-position: 0 -40px;
}
.vjs-play-control.vjs-playing {
  background-position: -75px -40px;
}
.vjs-danmaku-button {
  top:    50%;
  right:  24px;
  width:  58px;
  height: 30px;
  margin-top: -15px;
  background-repeat: no-repeat;
  background-position: -75px -200px;
}
.vjs-danmaku-button.disabled {
  background-position: 0 -200px;
}
